<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="active treeview menu-open">
        <a href="#"><i class="fa fa-folder"></i> <span>Mixes</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
          <li [routerLinkActive]="['active']"><a [routerLink]="['/mix-search']"><i class="fa fa-angle-right"></i> Search</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/create-mix']"><i class="fa fa-angle-right"></i> Create a mix</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/copy-mix-design']"><i class="fa fa-angle-right"></i> Copy Mix Design</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/mix-material-listing']"><i class="fa fa-angle-right"></i> Mix Material Listing</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/mix-descriptions']"><i class="fa fa-angle-right"></i> Mix Descriptions</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/check-plant-mix-design']"><i class="fa fa-angle-right"></i> Check Plant Mix Design</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/mix-design-costs']"><i class="fa fa-angle-right"></i> Mix Design Costs</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-folder"></i> <span>Materials</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-angle-right"></i> Materials</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Add Materials</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Assign Materials</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Material Costs / Plant</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-folder"></i> <span>Reports</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-angle-right"></i> Price List</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Create Submittal</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Create Plant Submittal</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Shipped / Ordered</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Current Order</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Material Inventory</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Operation Reports</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-folder"></i> <span>Operations</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-angle-right"></i> Archived Yardage</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Truck Loads</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Driver Loads</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Security Files</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Voided Tickets</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Mixes Used</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Accuracy Files</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Daily Cost</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-folder"></i> <span>General</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-angle-right"></i> My Info</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Help</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-folder"></i> <span>Administration</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-angle-right"></i> Menu 1</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Menu 2</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Menu 3</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Menu 4</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Menu 5</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>