<div class="wrapper">
  <app-header></app-header>
  <app-leftmenu></app-leftmenu>
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <form role="form" action="" method="post">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title"><a href="#">Copy Mix</a></h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="form-group col-md-3">
                    <label>Plant</label>
                    <select class="form-control">
                      <option value="">Choose</option>
                      <option value="Option 1">Option 1</option>
                      <option value="Option 2">Option 2</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Series</label>
                    <select class="form-control">
                      <option value="">Choose</option>
                      <option value="Option 1">Option 1</option>
                      <option value="Option 2">Option 2</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Description</label>
                    <select class="form-control">
                      <option value="">Choose</option>
                      <option value="Option 1">Option 1</option>
                      <option value="Option 2">Option 2</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label>&nbsp;</label>
                    <button type="submit" class="form-control btn btn-primary pull-right">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><a href="#">257LNF - 2500 #7 STONE LINE</a></h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table table-condensed no-margin">
                  <thead>
                    <tr>
                      <th>Mix</th>
                      <th>Weight</th>
                      <th>SPG</th>
                      <th>cu.ft</th>
                      <th>% Mst.</th>
                      <th>Batch Wt.</th>
                      <th>Cost</th>
                      <th>Mat. Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="#">CIMENT</a></td>
                      <td>600</td>
                      <td>3.15</td>
                      <td>3.05</td>
                      <td>0</td>
                      <td>600</td>
                      <td>$36.08</td>
                      <td>$120.28</td>
                    </tr>
                    <tr>
                      <td><a href="#">FLYASH</a></td>
                      <td>150</td>
                      <td>2.40</td>
                      <td>1</td>
                      <td>0</td>
                      <td>150</td>
                      <td>$3.06</td>
                      <td>$40.86</td>
                    </tr>
                    <tr>
                      <td><a href="#">89 STONE</a></td>
                      <td>650</td>
                      <td>2.62</td>
                      <td>3.98</td>
                      <td>1</td>
                      <td>656</td>
                      <td>$4.44</td>
                      <td>$13.40</td>
                    </tr>
                    <tr>
                      <td><a href="#">MFG SAND</a></td>
                      <td>2215</td>
                      <td>2.62</td>
                      <td>13.55</td>
                      <td>4</td>
                      <td>2304</td>
                      <td>$14.13</td>
                      <td>$11.80</td>
                    </tr>
                    <tr>
                      <td><a href="#">R WATER</a></td>
                      <td>40</td>
                      <td>-</td>
                      <td>5.34</td>
                      <td>0</td>
                      <td>29</td>
                      <td>$0.03</td>
                      <td>$1.15</td>
                    </tr>
                    <tr>
                      <td><a href="#">R75 / A+</a></td>
                      <td>24</td>
                      <td>-</td>
                      <td>-</td>
                      <td>0</td>
                      <td>24</td>
                      <td>$0.82</td>
                      <td>$4.35</td>
                    </tr>
                    <tr>
                      <td><a href="#">Air Ash</a></td>
                      <td>4</td>
                      <td>-</td>
                      <td>1.08</td>
                      <td>4</td>
                      <td>4</td>
                      <td>$0.08</td>
                      <td>$2.63</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="box-footer clearfix text-right">
              This Design Mix was Last Updated By TUCCO Webmaster on 4/29/2008 12:31:01 AM.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form role="form" action="" method="post">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title"><a href="#">Copy Mix To</a></h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label>Plant</label>
                    <select class="form-control">
                      <option value="">Choose</option>
                      <option value="Option 1">Option 1</option>
                      <option value="Option 2">Option 2</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Description</label>
                    <select class="form-control">
                      <option value="">Choose</option>
                      <option value="Option 1">Option 1</option>
                      <option value="Option 2">Option 2</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label>&nbsp;</label>
                    <button type="submit" class="form-control btn btn-primary pull-right">Copy</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>