<div class="login-logo">
  <a href=""><b>TUCCO</b></a>
</div>
<div class="login-box-body">
  <p class="login-box-msg">Sign in to start your dashboard</p>
  <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" ngModel name="username" placeholder="Username" />
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <input type="password" class="form-control" ngModel name="password" placeholder="Password" >
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <button type="submit" class="btn btn-primary btn-block btn-flat" >Login</button>

    </div>
  </form>

  <div>
    <p class="login-box-msg">Don't have account yet? <a [routerLink]="['/register']">Register here</a></p>
    <p class="info">*<a href="#">Click here</a> to bookmark this page</p>
    <a href="#">TUCCO MAIL OUT OF OFFICE</a><br>
    <a href="#">TUCCO MAIL IN THE OFFICE</a><br>
    <a href="#">TUCCO FUEL</a><br>
    <a href="#">CGI FUEL</a><br>
    <a href="#">ACT!</a><br>
    <a href="#">MASTER MIX</a><br>
    <a href="#" class="text-center">MASTER MIX IN THE OFFICE</a>
  </div>
</div>
<footer class="text-center">
  <strong>&copy; 2002 - 2019 Tucker Concrete Company, Inc. All Right Reserved.</strong>
</footer>