<div class="wrapper">
  <app-header></app-header>
  <app-leftmenu></app-leftmenu>
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <form role="form" action="" method="post">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title"><a href="#">Mix Descriptions</a></h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="form-group col-md-5">
                    <label>Filter By</label>
                    <select class="form-control">
                      <option value="">Choose</option>
                      <option value="Option 1">Option 1</option>
                      <option value="Option 2">Option 2</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Value</label>
                    <input type="text" class="form-control" name="" />
                  </div>
                  <div class="form-group col-md-2">
                    <label>&nbsp;</label>
                    <button type="submit" class="form-control btn btn-primary">Filter</button> 
                  </div>
                  <div class="form-group col-md-2">
                    <label>&nbsp;</label>
                    <button type="submit" class="form-control btn btn-default">Reset</button> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-striped table-condensed ">
                      <thead>
                        <tr>
                          <th>Mix Description</th>
                          <th>Mix ID</th>
                          <th>Office Code</th>
                          <th>Mix Classification</th>
                          <th>Upcharge</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#">000 COURSE GROUT</a></td>
                          <td>20CG89</td>
                          <td>20CG89</td>
                          <td>Grout</td>
                          <td>$5.00</td>
                        </tr>
                        <tr>
                          <td><a href="#">000 DOT CLASS 3</a></td>
                          <td>20CG89</td>
                          <td>20CG89</td>
                          <td>DOT</td>
                          <td>$5.00</td>
                        </tr>
                        <tr>
                          <td><a href="#">000 DOT CLASS A</a></td>
                          <td>20CG89</td>
                          <td>20CG89</td>
                          <td>DOT</td>
                          <td>$5.00</td>
                        </tr>
                        <tr>
                          <td><a href="#">000 DOT CLASS A</a></td>
                          <td>20CG89</td>
                          <td>20CG89</td>
                          <td>DOT</td>
                          <td>$5.00</td>
                        </tr>
                        <tr>
                          <td><a href="#">000 DOT CLASS A BARR MACH</a></td>
                          <td>20CG89</td>
                          <td>20CG89</td>
                          <td>DOT</td>
                          <td>$5.00</td>
                        </tr>
                        <tr>
                          <td><a href="#">000 DOT CLASS A BARR MACH</a></td>
                          <td>20CG89</td>
                          <td>20CG89</td>
                          <td>DOT</td>
                          <td>$5.00</td>
                        </tr>
                        <tr>
                          <td><a href="#">000 DOT CLASS A NFA</a></td>
                          <td>20CG89</td>
                          <td>20CG89</td>
                          <td>DOT</td>
                          <td>$5.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-12">
                    <ul class="pagination pagination-sm no-margin pull-right">
                      <li><a href="#" title="Previous page">&laquo;</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#" title="Next page">&raquo;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>