<div class="wrapper">
  <app-header></app-header>
  <app-leftmenu></app-leftmenu>
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Mixes</span>
              <span class="info-box-number">90<small>%</small></span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Materials</span>
              <span class="info-box-number">41,410</span>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Reports</span>
              <span class="info-box-number">760</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Operations</span>
              <span class="info-box-number">2,000</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Content section</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Table section</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Item</th>
                      <th>Order Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="#">OR9842</a></td>
                      <td>Lorem ipsum dolor sit amet</td>
                      <td>03/07/2019</td>
                      <td><span class="label label-success">Shipped</span></td>
                    </tr>
                    <tr>
                      <td><a href="#">OR1848</a></td>
                      <td>Lorem ipsum dolor sit amet</td>
                      <td>03/07/2019</td>
                      <td><span class="label label-warning">Pending</span></td>
                    </tr>
                    <tr>
                      <td><a href="#">OR7429</a></td>
                      <td>Lorem ipsum dolor sit amet</td>
                      <td>03/07/2019</td>
                      <td><span class="label label-danger">Delivered</span></td>
                    </tr>
                    <tr>
                      <td><a href="#">OR7429</a></td>
                      <td>Lorem ipsum dolor sit amet</td>
                      <td>03/07/2019</td>
                      <td><span class="label label-info">Processing</span></td>
                    </tr>
                    <tr>
                      <td><a href="#">OR1848</a></td>
                      <td>Lorem ipsum dolor sit amet</td>
                      <td>03/07/2019</td>
                      <td><span class="label label-warning">Pending</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="box-footer clearfix" style="">
              <a href="javascript:void(0);" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>